{% extends 'base.html' %}
{% load static %}
{% block title %} Shop {% endblock %}

{% block content %}
<main role="main">
  <!-- Page Content -->
<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4 pt-5">
    <small>Earth and Space</small>
  </h1>

  <div class="column">
        {% for product in products %}
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ product.product_image.url }}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><a href="#">{{ product.name }}</a></h4>
              <p class="card-text">{{ product.text_description }}</p>
              <a name="more" href="{% url 'product_page' product.id %}" class="btn btn-primary counter-btn">More</a>
            </div>
          </div>
        {% endfor %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript">
    var token = '{{csrf_token}}'
      $(".counter-btn").click(function(){
           $.ajax({
             headers: {"X-CSRFToken": token},
             type: 'POST',
             url: '/update_counter_more'
           });
       });
  </script>

<!-- /.container -->
</main>
{%endblock%}
