{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<main role="main">
    <br>
    <br>
    
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Welcome to our Museum Guide emulator!</h1>
            <p>I developed a mobile guide that can be used by visitors to sites of cultural interest (in our case Scitech museum) focusing on user modelling, personalisation and user adaptation. This mobile guide would be used to collect information about user's preferences. Please sign in to start.</p>
            {% if user.is_authenticated %}
            <p><a class="btn btn-primary btn-lg" href="/shop" role="button" >Get Started >></a></p>
            {% endif %}
        </div>
    </div>

    <div class="container pt-5">
        <div class="row">
          <div class="col-md-6 pb-5"><h1>Project Details</h1></div>
          <div class="col-md-6"></div>
          <p>
           This project is demonstrating an automated personalised Museum Mobile Guide. User interfaces affect the user experience tremendously and this is the reason why personalisation is introduced. There are two types of implementing personalisation explicitly and implicitly. Users tend to prefer implicit personalisation so that they are not interrupted during their navigation. The personalisation developed in this project is implicit aiming to achieve a result as accurate as an explicit personalisation can accomplish.
       </p>
       <p>
           The literature review conducted enabled the identification of the different personas, their success criteria and their motivation. An initial prototype was created to collect data for the development of the supervise machine learning model that was integrated into the final version of the Demonstration. To develop the final version of the Demonstration, a first prototype was created to collect data to develop a supervised machine learning model that was integrated into the final version. The first prototype used a questionnaire designed according to the literature review’s results so that the interactive data collected by the system were mapped with the corresponding persona. The final Demonstration collects a variety of interactive data from the users as before and the supervised learning model process these data to predict the persona of the user and make interface modifications automatically to increase the user’s experience. 
       </p>
       <p>
           In the end, the project demonstrated a Museum Mobile Guide that is capable to collect interactive data, match each user with a persona and personalise the interface automatically even when the guide sometimes is for one-time use.
          </p>  
        </div>

        <hr>
    </div> 

</main>
{% endblock %}
